* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #f4f4f4;
}
.sidebar ul .active {
    background: #1abc9c;
    border-radius: 5px;
}

.dashboard {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background: #2c3e50;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.sidebar ul li:hover {
    background: #34495e;
}

.content {
    margin-left: 260px;
    padding: 20px;
    width: 100%;
}

.stats {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 18px;
}

canvas {
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
